button, input{
    box-sizing: border-box;
    outline: none;
    padding: 7.5px;
    font-weight: 600;
    border: 3px solid black;
    border-radius: 25px;
    background-color: white;
    font-weight: 850;
    font-size: 1rem;
    margin-top: 10px;
    position: relative;
}
p, a, body, div{
    color: black;
    font-weight: 850;
    font-size: 1.2rem;
}
.inputWidth{
    width: 18.2rem;
}