<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Tools</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="admin.css">
    <script defer src="http://<ip address placeholder>/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
</head>
<body>
    <center>
    <p>Huoneen poisto</p>
    <form action="/delete" method="post" autocomplete="off" autocapitalize="off"><br>
    <input type="text" placeholder="Nimi..." name="nimi"><br>
    <input type="password" name="salasana" placeholder="Salasana..."><br>
    <input type="text" placeholder="Huone joka puostetaan..." name="huone" id="nimi"><br>
    <input type="submit" value="Poista huone">
    </form>
    <br>
    <p>Adminin tekemän huoneen poisto</p>
    <form action="/deladminroom" method="post" autocomplete="off" autocapitalize="off"><br>
    <input type="text" placeholder="Nimi..." name="nimi"><br>
    <input type="password" name="salasana" placeholder="Salasana..."><br>
    <input type="text" placeholder="Huone joka puostetaan..." name="huone" id="nimi"><br>
    <input type="submit" value="Poista huone">
    </form>
    <br>
    <p>IP banni</p>
    <form action="/ban" method="post" autocomplete="off" autocapitalize="off"><br>
        <input type="text" placeholder="Nimi..." name="nimi"><br>
        <input type="password" name="salasana" placeholder="Salasana..."><br>
        <input type="text" placeholder="IP joka bannataan..." name="ip" id="nimi"><br>
        <input type="text" placeholder="Syy..." name="reason"><br>
        <input type="submit" value="Bannaa IP">
    </form>
    <br>
    <p>IP unban</p>
    <form action="/unban" method="post" autocomplete="off" autocapitalize="off"><br>
        <input type="text" placeholder="Nimi..." name="nimi"><br>
        <input type="password" name="salasana" placeholder="Salasana..."><br>
        <input type="text" placeholder="IP joka unbannataan..." name="ip" id="nimi"><br>
        <input type="submit" value="Unbannaa IP">
    </form>
    <br>
    <p>Poista Admin</p>
    <form action="/unadmin" method="post" autocomplete="off" autocapitalize="off"><br>
        <input type="text" placeholder="Nimi..." name="nimi"><br>
        <input type="password" name="salasana" placeholder="Salasana..."><br>
        <input type="text" placeholder="Ip jolta otetaan admin pois" name="name" id="nimi"><br>
        <input type="submit" value="Ota admin pois">
    </form>
    <br>
    <p>Anna Admin</p>
    <form action="/giveadmin" method="post" autocomplete="off" autocapitalize="off"><br>
        <input type="text" placeholder="Nimi..." name="nimi"><br>
        <input type="password" name="salasana" placeholder="Salasana..."><br>
        <input type="text" placeholder="Ip jolle admin annetaan" name="name" id="nimi"><br>
        <input type="submit" value="Anna admin">
    </form>
    <br>
    <p>Resettaa serveri</p>
    <form action="/reset" method="POST" autocomplete="off" autocapitalize="off">
        <input type="submit" value="Reset">
    </form>
    <br>
    <p>Jos tiedät Admin tunnuksen salasanan ja nimen voit poistaa huoneita sekä bannaa tyyppei</p>
    <p><a href="/bot">Tästä</a> botin hallintaan.</p>
    <p><a href="/contacts">Tästä</a> yhteidenottoihin.</p>
    <p><a href="/deletedmessages">Tästä</a> poistettuihin viesteihin</p>
    <p><a href="/deletedrooms">Tästä</a> poistettuihin huoneisiin</p>
    <p><a href="/">Täältä</a> takaisin etusivulle</p>
    </center>
</body>
</html>
