<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sulla on bannit</title>
    <script defer src="http://<ip address placeholder>/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
</head>
<body>
    <p>Sut on bannattu. Sori ny vaa Lol</p>
    <p>Bannin Syy : <%= Syy %> </p>
    <p>Voit valittaa tästä sivun tekijälle jos haluut <a href="/contact">täältä.</a> Se on ainoa sivu tämän ja adminsivun lisäksi johon pääset vaikka sinut olisi bannattu. <a href="/data">Täältä</a> voit katsoa kaikki sinusta kerätyt tiedot</p>
</body>
</html>
