<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bot Center</title>
    <script defer src="http://<ip address placeholder>/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="bot.css">
</head>
<body>
<center>
<p>Lähetä Botilla viestejä</p>
<form action="/botsend" method="POST" autocomplete="off" autocapitalize="off">
<input type="text" placeholder="Viesti..." name="message" id="viesti"><br>
<input type="text" placeholder="Huone johon viesti lähetetään" name="room" id="huone"><br>
<input type="submit" value="Lähetä">
</form>
<br>
<p>Lähetä Botilla automaattisia custom viestejä</p>
<form action="/botautomationcustom" method="POST" autocomplete="off" autocapitalize="off">
<input type="text" placeholder="Monenko sekunnin välein viesti lähetetään?" name="time" id="aika" style="width: 23rem;"><br>
<input type="text" placeholder="Automaattinen viesti..." name="message" id="viesti"><br>
<input type="text" placeholder="Huone johon viestit lähetetään" name="room" id="huone" class="inputWidth"><br>
<input type="submit" value="Tee automaatio">
</form>
<br>
<p>Lähetä Botilla automaattisia viestejä 5min</p>
<form action="/botautomation5min" method="POST" autocomplete="off" autocapitalize="off">
<input type="text" placeholder="Automaattinen viesti..." name="message" id="viesti"><br>
<input type="text" placeholder="Huone johon viestit lähetetään" name="room" id="huone" class="inputWidth"><br>
<input type="submit" value="Tee automaatio">
</form>
<br>
<p>Lähetä Botilla automaattisia viestejä 1min</p>
<form action="/botautomation1min" method="POST" autocomplete="off" autocapitalize="off">
<input type="text" placeholder="Automaattinen viesti..." name="message" id="viesti"><br>
<input type="text" placeholder="Huone johon viestit lähetetään" name="room" id="huone" class="inputWidth"><br>
<input type="submit" value="Tee automaatio">
</form>
<br>
<p>Lähetä Botilla automaattisia viestejä 30s</p>
<form action="/botautomation30s" method="POST" autocomplete="off" autocapitalize="off">
<input type="text" placeholder="Automaattinen viesti..." name="message" id="viesti"><br>
<input type="text" placeholder="Huone johon viestit lähetetään" name="room" id="huone" class="inputWidth"><br>
<input type="submit" value="Tee automaatio">
</form>
<br>
<p>Lähetä Botilla automaattisia viestejä 15s</p>
<form action="/botautomation15s" method="POST" autocomplete="off" autocapitalize="off">
<input type="text" placeholder="Automaattinen viesti..." name="message" id="viesti"><br>
<input type="text" placeholder="Huone johon viestit lähetetään" name="room" id="huone" class="inputWidth"><br>
<input type="submit" value="Tee automaatio">
</form>
<br>
<p>Tee Huone botilla</p>
<form action="/botroom" method="POST" autocomplete="off" autocapitalize="off">
<input type="text" placeholder="Huoneen nimi..." name="name" id="name"><br>
<input type="text" placeholder="Huoneen tyyppi public tai private" name="type" id="type" class="inputWidth"><br>
<input type="text" placeholder="Voiko huoneen poista true tai false" name="canDelete" id="canDelete" class="inputWidth"><br>
<input type="submit" value="Tee huone">
</form>
<br>
<p>Vaihda botin nimi</p>
<form action="/botname" method="POST" autocomplete="off" autocapitalize="off">
<input type="text" placeholder="Botin uusi nimi..." name="name" id="name"><br>
<input type="submit" value="Vaihda nimi">
</form>
<br>
<p><a href="/admin">Tästä</a> takaisin Admin sivulle</p>
<p><a href="/">Täältä</a> takaisin etusivulle</p>
</center>
</body>
</html>
