<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ota Yhteyttä</title>
    <script defer src="http://<ip address placeholder>/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="contact.css">
</head>
<body>
    <center>
    <h1>Ota Yhteyttä</h1>
    <p>Voit lähettää tämän kautta esim palautetta tai pyytää unbannia jne</p>
    <p>Jätä lomakkeeseen yhteystietosi (Esim puhelinnumero tai sähköposti) <br> jos haluat että sinuun otetaan yhteyttä</p>
    <p>Ainoa ei pakollinen kenttä on yhteystoito</p>
    <form action="/send" method="POST" autocapitalize="off" autocomplete="off">
    <input type="text" name="nimi" placeholder="Nimi..." required><br>
    <input type="text" name="yhteys" placeholder="Yhteystieto ei pakollinen..."><br>
    <input type="text" name="aihe" placeholder="Aihe/Otsikko..." required><br>
    <textarea name="message" id="message" cols="30" rows="10" placeholder="Viesti..." required></textarea><br>
    <input type="submit" value="Lähetä">
    </form>
    <br>
    <p><a href="/">Täältä</a> takaisin etusivulle</p>
    </center>
</body>
</html>
