<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yhteydenotot</title>
    <link rel="stylesheet" href="style.css">
    <script defer src="http://<ip address placeholder>/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
    <link rel="stylesheet" href="contacts.css">
</head>
<body>
<h1>Alla kaikki Yhteydenotot</h1>
<br>
<% data.forEach(contact => {%>
    <h2 id="otsikko"><%= contact.subject %></h2>
    <p>Lähettäjän nimi - <%= contact.name %></p>
    <p>Lähettäjän ip - <%= contact.senderIP %></p>
    <p>Lähettäjän yhteystieto - <%= contact.senderContact %></p>
    <p>Otsikko - <%= contact.subject %></p>
    <p>Viesti - <%= contact.message %></p>
    <br>
<% }) %>
<p><a href="/admin">Tästä</a> takaisin admin sivulle.</p>
</body>
</html>
