<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sinusta kerätty tieto</title>
<link rel="stylesheet" href="style.css">
<script defer src="http://<ip address placeholder>/socket.io/socket.io.js"></script>
<script defer src="script.js"></script>
<script>
function hiddenAndShow(id){
    if(document.getElementById(id).hidden){
        document.getElementById(id).hidden = false;
    } else {
        document.getElementById(id).hidden = true
    }
}
</script>
<style>
*{
    padding: 0;
    margin: 0;
}
body{
    font-weight: 800;
    font-size: 1rem;
}
p{
    max-width: 700px;
}
button, input{
    box-sizing: border-box;
    outline: none;
    padding: 4.5px;
    font-weight: 600;
    border: 3px solid black;
    border-radius: 25px;
    background-color: white;
    font-weight: 450;
    font-size: 12px;
    margin: 5px;
}
</style>
</head>
<body>
<center>
<br>
<h3>Tietosi</h3>
<br>
Kaikki käyttämäsi nimet
<p id="names" hidden>
<% data.Names.forEach(name => {%>
    <%= name %>,  
<% }) %>
</p>
<button onclick="hiddenAndShow('names')">Piilota/Näytä Nimet</button>
<br>
Kaikki sockettisi
<p id="sockets" hidden>
<% data.Sockets.forEach(socket => {%>
    <%= socket %>,  
<% }) %>
</p>
<button onclick="hiddenAndShow('sockets')">Piilota/Näytä Socketit</button>
<br>
Kaikki viestisi
<p id="messages" hidden>
<% data.Messages.forEach(message => {%>
    <%= message %>,  
<% }) %>
</p>
<button onclick="hiddenAndShow('messages')">Piilota/Näytä Viestit</button>
<br>
Kaikki eventtisi
<p id="events" hidden>
<% data.Events.forEach(event => {%>
    <%= event %>,  
<% }) %>
</p>
<button onclick="hiddenAndShow('events')">Piilota/Näytä Eventit</button>
<br>
Kaikki post requestit
<p id="posts" hidden>
 <% data.postRequests.forEach(post => {%>
    <%= post %>,  
<% }) %>
</p>
<button onclick="hiddenAndShow('posts')">Piilota/Näytä Post Requestit</button>
<br>
Kaikki ajat jolloin olet ollut aktiivinen
<p id="times" hidden>
<% data.timesWhenActive.forEach(time => {%>
    <%= time %>,  
<% }) %>
</p>
<button onclick="hiddenAndShow('times')">Piilota/Näytä Ajat</button>
<br>
Kaikki Huoneet joissa olet käynyt
<p id="rooms" hidden>
<% data.rooms.forEach(room => {%>
    <%= room %>,  
<% }) %>
</p>
<button onclick="hiddenAndShow('rooms')">Piilota/Näytä Huoneet</button>
<br>
Kaikki privatehuoneet joissa olet käynyt
<p id="private" hidden>
<% data.privateRooms.forEach(room => {%>
    <%= room %>,  
<% }) %>
</p>
<button onclick="hiddenAndShow('private')">Piilota/Näytä privatehuoneet</button>
<br>
User Agent
<p id="Selain" hidden><%= data.Browser %></p>
<button onclick="hiddenAndShow('Selain')">Piilota/Näytä User Agent</button>
<br>
Oletko online
<p id="online" hidden><%= data.isOnline %></p>
<button onclick="hiddenAndShow('online')">Piilota/Näytä Oletko online</button>
<br>
Oletko Admin
<p id="admin" hidden><%= data.isAdmin %></p>
<button onclick="hiddenAndShow('admin')">Piilota/Näytä Oletko admin</button>
<br>
Nykyinen sockettisi
<p id="socketid" hidden><%= data.socketID %></p>
<button onclick="hiddenAndShow('socketid')">Piilota/Näytä Nykyinen socket</button>
<br>
Viimeksi paikalla
<p id="lastseen" hidden><%= data.lastSeen %></p>
<button onclick="hiddenAndShow('lastseen')">Piilota/Näytä Viimeksi paikalla</button>
<br>
Onko bot
<p id="bot" hidden><%= data.isBot %></p>
<button onclick="hiddenAndShow('bot')">Piilota/Näytä Ootko bot</button>
<br>
Oletko bannattu
<p id="banned" hidden><%= data.isBanned %></p>
<button onclick="hiddenAndShow('banned')">Piilota/Näytä Oletko bannattu</button>
<br>
IP
<p id="ip" hidden><%= ip %></p>
<button onclick="hiddenAndShow('ip')">Piilota/Näytä IP</button>
<br>
<br>
<form action="/cleardata" method="post">
<p>Valitse alta mitä tietojasi haluat poistaa</p>
<label for="data">Minusta kerätyt tiedot</label>
<input type="checkbox" name="data" id="data" value="data"><br>
<label for="rooms">Huoneet jotka olen luonut</label>
<input type="checkbox" name="rooms" id="rooms" value="data"><br>
<label for="messages">Viestit jotka olen lähettänyt</label>
<input type="checkbox" name="messages" id="messages" value="messages"><br>
<br>
<input type="submit" value="Poista valitut tiedot">
</form>
<br>
<p>Takaisin etusivulle <a href="/home">tästä.</a></p>
</center>
</body>
</html>
