<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poistetut huoneet</title>
    <link rel="stylesheet" href="style.css">
    <script defer src="http://<ip address placeholder>/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
    <link rel="stylesheet" href="deletedrooms.css">
</head>
<body>
<p><a href="/admin">Tästä</a> takaisin admin sivulle.</p>
<br>
<%= data %>
</body>
</html>