<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Chat Sovellus</title>
<script defer src="http://<ip address placeholder>/socket.io/socket.io.js"></script>
<script defer src="script.js"></script>
<link rel="stylesheet" href="style.css">
<style>
button, input{
    box-sizing: border-box;
    outline: none;
    padding: 7.5px;
    font-weight: 600;
    border: 3px solid black;
    border-radius: 25px;
    background-color: white;
    font-weight: 850;
    margin-bottom: 2px;
    font-size: 1rem;
}

input{
    width: 42vw;
    max-width: 200px;
}

p, a, body, div{
    color: black;
    font-weight: 850;
    font-size: 1.15rem;
}

hr{
    max-width: 500px;
    min-width: 100px;
    border: none;
    background-color: black;
    height: 2px;
    border-radius: 25px;
}
</style>
</head>
<body>
<center>
    <br>
    <div id="room-container">
        <hr style="width: 20rem;">
        <% Object.keys(rooms).forEach(room => {%>
            <div><%= room %></div>
            <a href="/room/<%= room %>">Liity</a> 
            <p id="<%= room%>" style="font-size: 17px;">Paikalla <%= Object.keys(rooms[room].users).length %> </p>
            <p id="creator-<%= room%>" class="creator" style="bottom: 13px; position: relative;font-size: 17px;">Tekijä: <%= rooms[room].creator %></p>
            <hr style="width: 20rem;">
        <% }) %>
    </div>
    <br>
    <form action="/room" method="POST" autocomplete="off" autocapitalize="off">
        <input name="room" type="text" placeholder="Uuden huoneen nimi" required>
        <button type="submit">Tee uusi avoinhuone</button>
    </form> 
    <br>
    <form action="/private" method="POST" autocomplete="off" autocapitalize="off">
        <input name="uuid" id="uuid" type="checkbox" style="padding: 0px; margin: 0px; width: 1rem;">
        <label for="uuid" style="font-size: 15px;">Random UUID Koodi</label>
        <input style="width: 9rem;" name="room" type="text" placeholder="Custom koodi" required>
        <button type="submit">Tee uusi privaattihuone</button>
    </form><br>
        <p style="margin-top: -15px; font-size: 0.95rem;">Jos valitset "Random UUID Koodi" niin se mitä laitat "Custom koodi" laatikkoon <br> ei vaikuta mutta siellä on silti oltava jotain jotta huoneen voi luoda</p>

    <form action="/join" method="POST" autocomplete="off" autocapitalize="off">
        <input name="name" type="text" placeholder="Liittymiskoodi" required style="width: 9.5rem;">
        <button type="submit">Liity huoneeseen</button>
    </form> 
    <br>
    <p>Voit liittyä olemassa oleviin huoneisiin tai tehdä oman huoneen</p>
    <p>Voit lähettää halutessasi palautetta <a href="/contact">täältä.</a></p>
    <p>Admin sivulle pääset <a href="/admin">tästä</a></p>
    <p>Katso kaikki sinusta keräämämme tiedot <a href="/data">täältä.</a></p>
    <button onclick="location.reload()">Päivitä käyttäjämäärät</button>
    <br>
    <br>
</center>

</body>
</html>
