<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Sovellus - <%= roomName %> </title>
    <script>
        const roomName = "<%= roomName %>"
    </script>
    <script defer src="http://<ip address placeholder>/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
    <link rel="stylesheet" href="style.css">
    <script>
    </script>
    <style>
        *, *::before, *::after {
            box-sizing: border-box;
        }
        body{
            padding: 0;
            margin: 0;
            justify-content: center;
            overflow-y: scroll;
            display: flex;
            margin-top: 10px;
            font-weight: 500;
        }

        #message-container{
            height: 70vh;
            width: 75vw;
        }

        #message-container div{        
            /*background-color: #CCC;*/
            padding: 6px;
            font-weight: 800;
            font-size: 1.1rem;
            position: relative;
            display: flex;
            /*max-width: 725px;
            min-width: 250px;*/
            overflow-x: auto;
        }

        /*#message-container div:nth-child(2n){
            background-color: #FFF;
        }*/

        #send-container{
            position: fixed;
            padding-bottom: 30px;
            max-width: 80vw;
            width: 80vw;
            bottom: 0;
            display: flex;
        }

        #message-input {
            flex-grow: 1;
            margin-right: 10px;
        }

        #send-button, #message-input{
            box-sizing: border-box;
            outline: none;
            padding: 7.5px;
            font-weight: 700;
            font-size: 1rem;
            border: 3px solid black;
            border-radius: 25px;
            background-color: white;
        }

        #div{
            /*width: 650px;
            min-width: 350px;
            max-height: 800px;*/
            display: flex;
            overflow-y: auto;
            overflow-x: hidden;
            border: 3px black solid;
            border-radius: 10px;
        }

       /* @media only screen and (max-width: 750px){

            #message-container div, #div{
                width: 325px;
                min-width: 200px;
                max-width: 400px;
            }

        }

        @media only screen and (min-width: 1300px){
            #message-container div, #div{
                width: 900px;
                min-width: 200px;
                max-width: 900px;
            }
        }

        @media only screen and (min-width: 1800px) {
            #message-container div, #div{
                width: 1200px;
                min-width: 200px;
                max-width: 1200px;
            }
            
        }*/

        span {
            font-size: 0.9rem;
            font-weight: 400;
            margin-left: 10px;
            padding-right: 30px;
            margin-top: 2px;
        }
    </style>
</head>
<body>
    <div id="div">
    <div id="message-container">
        <% messages.forEach(data => {%>
            <div style="background-color: #FFF;"><%= data.message %> <span><%= data.time %> </span></div>
        <% }) %>
    </div>
    </div>
    <form id="send-container">
        <input placeholder="Viesti..." type="text" id="message-input" name="lol" autocomplete="off" autocapitalize="off">
        <button type="submit" id="send-button">Lähetä</button>
    </form>
    <br>
</body>
</html>
